/* line 1, ../sass/styles.scss */
div.relative {
  position: relative !important;
  z-index: 1100 !important;
}

/* line 5, ../sass/styles.scss */
#overlay {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header_bg_wien_bratislava.png") no-repeat center !important;
  background-size: cover !important;
  color: #fff !important;
  height: 100vh !important;
  width: 100% !important;
  position: fixed !important;
}
/* line 15, ../sass/styles.scss */
#overlay #close {
  text-decoration: none !important;
  position: absolute !important;
  right: 25px !important;
  top: 20px !important;
  cursor: pointer !important;
  font-size: 25px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) !important;
  padding: 4px 10px !important;
  font-weight: 100 !important;
}
/* line 27, ../sass/styles.scss */
#overlay .center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* line 32, ../sass/styles.scss */
#overlay .c-c {
  display: inline-block !important;
  float: none !important;
  text-align: left !important;
}
/* line 37, ../sass/styles.scss */
#overlay .v-c {
  float: none !important;
  display: inline-block !important;
  vertical-align: middle !important;
}
/* line 43, ../sass/styles.scss */
#overlay a.btn-city {
  text-decoration: none !important;
  border: 0 !important;
  display: inline-block !important;
  margin-bottom: 0 !important;
  text-align: center !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  white-space: nowrap !important;
  padding: 16px 12px 6px !important;
  line-height: 1.428571429 !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border-radius: 0 !important;
  color: white !important;
  width: 240px !important;
  height: 53px !important;
  padding-top: 16px !important;
  font-size: 28px !important;
}
/* line 66, ../sass/styles.scss */
#overlay #header-feels-like-home {
  margin-bottom: 4vh !important;
}
/* line 70, ../sass/styles.scss */
#overlay h1 {
  background: none !important;
  display: block !important;
  font-weight: 200 !important;
  line-height: 54px !important;
  margin-top: 3vh !important;
  margin-bottom: 8.5vh !important;
  font-style: italic !important;
  height: 25vh;
  padding: 0;
}
/* line 82, ../sass/styles.scss */
#overlay #button-row hr {
  width: 76px !important;
  border-color: #565656 !important;
  display: inline-block !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  border: 0 !important;
  border-top: 1px solid #eeeeee !important;
}
/* line 92, ../sass/styles.scss */
#overlay #button-row {
  font-weight: 300 !important;
}
/* line 93, ../sass/styles.scss */
#overlay #button-row * {
  margin-right: 4px !important;
}
/* line 94, ../sass/styles.scss */
#overlay .btn-green {
  background-color: #75c9b6 !important;
}
/* line 95, ../sass/styles.scss */
#overlay .btn-red {
  background-color: #ff6666 !important;
}
